body {
    scroll-behavior: smooth;
}

.section {
    padding: 60px 0;
}

#header {
    background: url('../images/couple.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header h1 {
    font-size: 4rem;
}
